<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Form</title>

    <!-- Local CSS -->
    <link rel=stylesheet type=text/css href='{{url_for('static',filename='style.css')}}'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
            <H1>Stock Form</H1>
            <p><a href="/about">About</a></p>

            <form method='post', action="/">
                Stock Abbreviation: <input type="text" name="stock" placeholder="AAPL"> <br>
                <input type="checkbox" name="columns" value="open"> open <br>
                <input type="checkbox" name="columns" value="close"> close <br>
                <input type="checkbox" name="columns" value="adj_open"> adjusted open <br>
                <input type="checkbox" name="columns" value="adj_close"> adjusted close <br>
                <input type='submit' value='Submit'>
            </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
